    <%- include('./partials/header.ejs'); %>

	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shopping Cart</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  

  <!--================Cart Area =================-->
  <section class="cart_area">
      <div class="container">
          <div class="cart_inner">
              <div class="table-responsive">
                  <table class="table" style="width:100%">
                      <thead>
                          <tr>
                              <th scope="col">Product</th>
                              <th scope="col">Price</th>
                              <th scope="col">Quantity</th>
                              <th scope="col">Total</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% for (const item of locals.cart) { %>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <!-- <img src="img/cart/cart1.png" alt=""> -->
                                        </div>
                                        <div class="media-body">
                                            <p><%= item.title %></p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$<%= parseFloat(item.price).toFixed(2) %></h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <%= parseInt(item.qty) %>
                                        <!-- <input type="text" name="qty" id="sst-<%= item.title %>" maxlength="12" value="<%= item.qty %>" title="Quantity:"
                                            class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst-<%= item.title %>'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst-<%= item.title %>'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                            class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button> -->
                                    </div>
                                </td>
                                <td>
                                    <h5>$<%= parseFloat(item.price * item.qty).toFixed(2) %></h5>
                                </td>
                            </tr>
                        <% } %>

                          
                          <tr>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>
                                  <h5>Subtotal</h5>
                              </td>
                              <td>
                                  $<%= parseFloat(locals.subTotal).toFixed(2) %>
                              </td>
                          </tr>

                          <tr class="shipping_area">
                              <td class="d-none d-md-block">

                              </td>
                              <td>

                              </td>
                              <td>
                                  <h5>Shipping</h5>
                              </td>
                              <td>
                                $5.00
                              </td>
                          </tr>
                          <tr class="out_button_area">
                              <td class="d-none-l">

                              </td>
                              <td class="">

                              </td>
                              <td>

                              </td>
                              <td>
                                  <div class="checkout_btn_inner d-flex align-items-center">
                                      <a class="gray_btn" href="/">Continue Shopping</a>
                                      <a id="button-checkout" class="primary-btn ml-2" href="#">Proceed to checkout</a>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>
  <!--================End Cart Area =================-->


  <%- include('./partials/footer.ejs'); %>
  <script src="js/cart.js"></script>
</body>
</html>