
  <%- include('./partials/header.ejs') %>

  <main class="site-main">
    
    <!--================ Hero banner start =================-->
    <section class="hero-banner">
      <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
          <div class="col-5 d-none d-sm-block">
            <div class="hero-banner__img">
              <img class="img-fluid" src="<%= locals.documentRoot %>/img/home/home-banner-01.png" alt="">
            </div>
          </div>
          <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h4>Shopping is fun</h4>
              <h1>Browse Our Premium Products</h1>
              <p>Us which over of signs divide dominion deep fill bring they're meat beho upon own earth without morning over third. Their male dry. They are great appear whose land fly grass.</p>
              <a class="button button-hero" href="#products-header">Browse Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero banner end =================-->


    <!-- ================ trending product section start ================= -->  
    <section class="section-margin calc-60px">
      <div class="container">
        <div class="section-intro pb-60px">
          <p>Popular Item in the market</p>
          <h2 id="products-header">Trending <span class="section-intro__style">Product</span></h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="<%= locals.documentRoot %>/img/product/product1.png" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button><i class="ti-shopping-cart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p>Liquid Lipstick</p>
                <h4 class="card-product__title">GIORGIO ARMANI BEAUTY</h4>
                <p class="card-product__price">$38.00</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="<%= locals.documentRoot %>/img/product/product2.png" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button><i class="ti-shopping-cart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p>Lipstick</p>
                <h4 class="card-product__title">CHARLOTTE TILBURY</h4>
                <p class="card-product__price">$34.00</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="<%= locals.documentRoot %>/img/product/product3.png" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button><i class="ti-shopping-cart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p>Lipstick</p>
                <h4 class="card-product__title">BITE BEAUTY</h4>
                <p class="card-product__price">$26.00</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="<%= locals.documentRoot %>/img/product/product4.png" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button><i class="ti-shopping-cart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p>Lipstick</p>
                <h4 class="card-product__title">YVES SAINT LAURENT</h4>
                <p class="card-product__price">$39.00</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="<%= locals.documentRoot %>/img/product/product5.png" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button><i class="ti-shopping-cart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p>Lip Balm & Treatment</p>
                <h4 class="card-product__title">FRESH</h4>
                <p class="card-product__price">$24.00</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="<%= locals.documentRoot %>/img/product/product6.png" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button><i class="ti-shopping-cart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p>Lipstick</p>
                <h4 class="card-product__title">TOM FORD</h4>
                <p class="card-product__price">$55.00</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="<%= locals.documentRoot %>/img/product/product7.png" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button><i class="ti-shopping-cart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p>Lip Stain</p>
                <h4 class="card-product__title">SEPHORA COLLECTION</h4>
                <p class="card-product__price">$14.00</p>
              </div> 
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="<%= locals.documentRoot %>/img/product/product8.png" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button><i class="ti-shopping-cart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p>Lip Gloss</p>
                <h4 class="card-product__title">FENTY BEAUTY BY RIHANNA</h4>
                <p class="card-product__price">$18.00</p>
              </div>
            </div>
          </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="<%= locals.documentRoot %>/img/product/product9.png" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-shopping-cart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Lipstick</p>
              <h4 class="card-product__title">CHRISTIAN LOUBOUTIN</h4>
              <p class="card-product__price">$90.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="<%= locals.documentRoot %>/img/product/product10.png" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-shopping-cart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Lip Balm & Treatment</p>
              <h4 class="card-product__title">DIOR</h4>
              <p class="card-product__price">$34.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="<%= locals.documentRoot %>/img/product/product11.png" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-shopping-cart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Lipstick</p>
              <h4 class="card-product__title">KAT VON D</h4>
              <p class="card-product__price">$20.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="<%= locals.documentRoot %>/img/product/product12.png" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-shopping-cart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Lipstick</p>
              <h4 class="card-product__title">TOO FACED</h4>
              <p class="card-product__price">$21.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="<%= locals.documentRoot %>/img/product/product13.png" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-shopping-cart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Lipstick</p>
              <h4 class="card-product__title">NARS</h4>
              <p class="card-product__price">$34.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="<%= locals.documentRoot %>/img/product/product14.png" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-shopping-cart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Lipstick</p>
              <h4 class="card-product__title">GIVENCHY</h4>
              <p class="card-product__price">$38.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="<%= locals.documentRoot %>/img/product/product15.png" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-shopping-cart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Lipstick</p>
              <h4 class="card-product__title">HUDA BEAUTY</h4>
              <p class="card-product__price">$25.00</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
          <div class="card text-center card-product">
            <div class="card-product__img">
              <img class="card-img" src="<%= locals.documentRoot %>/img/product/product16.png" alt="">
              <ul class="card-product__imgOverlay">
                <li><button><i class="ti-shopping-cart"></i></button></li>
              </ul>
            </div>
            <div class="card-body">
              <p>Lipstick</p>
              <h4 class="card-product__title">LANCÔME</h4>
              <p class="card-product__price">$32.00</p>
            </div>
          </div>
        </div>
        
      </div>
      </div>
    </section>

    

  </main>


  <%- include('./partials/footer.ejs'); %>
  <script src="<%=local.documentRoot%>/js/index.js"></script>



</body>
</html>